* {
  box-sizing: border-box;
}

/*body {
  font-family: Arial;
  transform-style: preserve-3d;
}*/

/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 0 5px 25px 5px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;
}

.handles {
  /*background-color: rgba(0, 0, 0, 0.2) #56add6;*/
  background-image: linear-gradient(rgba(86,173,214,1),rgba(69,137,173,1));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding:50px 0px 0px 80px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  background-color: white;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}